
// Styles for particular containers
@import 'priority';

// Set margin and padding to zero
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// If a task is inprogress, highlight hte right side border of the task
.task-inprogress {
	border-right: 10px #78AB46 solid;
}

//  Form label font
.form-label-font {
	font-size: 13px;
	font-weight: 400;
}